<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

<!--Fuente: Roboto-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<!--CSS-->    
    
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <!--Inicio del Header-->
    <header>

        <div class="juntar cat4">

            <div class="logo ancho33">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Libre"> 
            </div>
            <div class="contenedor ancho33 " action="#" method="GET">
                <div class="buscador"><p>Buscar productos, marcas y más</p></div>
                <div class="lupa"><i class="fas fa-search"></i></div>
            </div>

            <p class="centrar ancho33 altura"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
    <!--Inicio de Listas-->   
        
    <!--Lita N 1-->

        <nav class="cat3">
            <ul class="cat ancho50 ">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>   
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        
    <!--Lista N 2-->
        
            <ul class="cat2 ancho51">
                <li><a href="/registro">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="/ingresar">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <!--Fin de Lista-->
        <div class="center">
           <i class="fa fa-bars burger menu centrar"></i>
        </div> 
    </header>
    <main>
        <form action="/" method="POST" class="form-login">
            <input class="controls" type="text" name="user" placeholder="Nombre de usuario" > <br>
            <input class="controls" type="password" name="pass" placeholder="Elegí tu contraseña"><br>
            <input class="botons" type="submit" value="Enviar" class="fondo"> <br>
        </form>
    </main>
    <!--Inicio del Footer-->
    <footer class="blanco">
    
        <!--Seccion N1--> 
            
            <section class="centrar">
                <article><div class="tarjeta"><i class="fas fa-credit-card"></i></div></article>
                <p class="t16"><b>Pagá con tarjeta o en efectivo</b></p>
                <div class="inferior"><p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                puntos de pago. ¡Y siempre es seguro!</p></div>
            </section>
        
        <!--Seccion N2-->   
    
            <section class="centrar">
                
                <div class="iconos"><i class="fas fa-gift"></i></div>
                
                <p class="t16"><b>Envío gratis desde los $ 2.500</b></p>
            <div class="inferior"><p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></div>
            </section>
        
        <!--Seccion N3-->
            
            <section class="centrar">
               
                <div class="iconos"><i class="fas fa-user-shield"></i></div>
                
                <p class="t16"><b> Seguridad de principio a fin</b></p>
                <div class="inferior"><p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></div>
            </section>
            
        <!--Seccion N4-->
    
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
    
        </footer>
        <!--Fin del Footer-->
        
    </body>
    </html>